*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e5e5e5;
    

}

/*.content-title{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: justify;
}*/

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 5px 0px;
}

header{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#header-title{
    padding: 15px;
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
}

#menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
    display: flex;
    justify-content: center;
}

#menu ul li { 
    display: inline;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}


#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

.content-imagem{

    width: 100%;
    margin-top: 15px;
    border-radius: 10px;

}

.content-image2{
    display: block;
    width: 50%;
    margin: 15px auto;
    border-radius: 10px;
}

.content-image{
    border-radius: 100px;
    max-width: 100px;;

}

.content-wraper{
    padding: 5px 0px;
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.content-imagem2{
    width: 100%;
    
    margin-top: 15px;
    border-radius: 15px;

}